<div class="nested-fields">
  <div class="boxContainer">
    <div class="box"><%= 1 %></div>
    <div class="box"><%= f.text_field :title, class: "form-control", placeholder: "title" %></div>
    <div class="box"><%= f.number_field :bpm, class: "form-control", placeholder: "bpm", value: 100%></div>
  </div>
  <div class="offset-1 col-1 px-0 w-auto">
    <%= link_to_remove_association "delete", f, class: "btn btn-secondary btn-block" %>
  </div>
</div>