<h1>Editing Vinyl</h1>

<%= render 'form', vinyl: @vinyl, page: @page, song: @song %>

<% if @page.blank? then%>
<% @page = '1' %>
<% end %>

<%= link_to 'Show', vinyl_path(@vinyl, page: @page) %> |
<%= link_to 'Back', vinyls_path + '?page=' + @page %>
